<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course</title>
    <link rel="stylesheet" href="/Style/addCourse.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <button>Home</button>
            <h2>Add Course</h2>
            <div class="centerform">
        </div>LLLLJJLF
            <div class="form">
                <div class="formdiv"> 
                    <input type="text" name="name" id="name">
                </div>
                <div class="formdiv">
                    <input type="text" name="code" id="code">
                </div>

                <div class="formdiv">
                    <input type="text" name="deadline" id="deadline">
                </div>
                <button>Add Course</button>
            </div>
        </div>

    </div>

    </bodhy>

</html>








<!-- <button href="{% url 'study-tracker:home-page' %}">Home</button>
<button href="{% url 'study-tracker:new-course' %}">Add Course</button>

<a href="{% url 'study-tracker:home-page' %}">Home</a>



<form method="POST">
    
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
</form> -->